body {
    background: #fff;
    color: #000;
    font-family: sans-serif;
    font-size: 12px;
    margin: auto;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul li {
  margin-left: 50px;
}

canvas {
    margin-left: 50px;
    border: 1px solid black;
}
